@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(#e8eaf7f7, white, #E8EAF6);
  
}
* {
  font-family: "Poppins";
}
.rectangle {
  width: 337px;
  height: 337px;
  background-color: rgba(185, 204, 254, 1);
  border-radius: 30px;
}

.bg-mark {
  background-color: rgba(255, 206, 115, 1);
  
  border-radius: 100%;
}

.bg-notification {
  background: #ffe3de;
  border-radius: 100%;
}
.mark-online {
  
  border-color: white;
  border-radius: 100%;
  background-color: rgba(93, 211, 105, 1);
}
.text-notification {
  background-color: #904cff80;
  border-radius: 100%;

  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.clip-path{
  clip-path: inset(10% 16% 20% 16%);
}
